@charset "EUC-KR";
.searchT{
	margin: px auto;
	text-align: center;
	
}
.member{
	margin: 0px auto;
	text-align: center;
	box-shadow: 0px 1px blue;
}
.formMem{
	margin: 0px auto;
	text-align: center;		
	display:inline
}
.adminbtn{
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000dff), color-stop(1, #000dff));
	background:-moz-linear-gradient(top, #000dff 5%, #000dff 100%);
	background:-webkit-linear-gradient(top, #000dff 5%, #000dff 100%);
	background:-o-linear-gradient(top, #000dff 5%, #000dff 100%);
	background:-ms-linear-gradient(top, #000dff 5%, #000dff 100%);
	background:linear-gradient(to bottom, #000dff 5%, #000dff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000dff', endColorstr='#000dff',GradientType=0);
	background-color:#000dff;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #000dff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:2px 4px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.adminbtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000dff), color-stop(1, #000dff));
	background:-moz-linear-gradient(top, #000dff 5%, #000dff 100%);
	background:-webkit-linear-gradient(top, #000dff 5%, #000dff 100%);
	background:-o-linear-gradient(top, #000dff 5%, #000dff 100%);
	background:-ms-linear-gradient(top, #000dff 5%, #000dff 100%);
	background:linear-gradient(to bottom, #000dff 5%, #000dff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000dff', endColorstr='#000dff',GradientType=0);
	background-color:#000dff;
}
.adminbtn:active {
	position:relative;
	top:1px;
}
.selectMeberList{
	margin : 0 30% auto;
	text-align: center;
}
.adN{
	width: 9%
	vertical-align: middle;
	background-color: #000dff;
	color:#ffffff;
	font-size:13px;
}
.Inf{
	width: 12%
	vertical-align: middle;
	background-color: #000dff;
	color:#ffffff;
	font-size:13px;
}
.Mii{
	width: 15%;
	vertical-align: middle;
	background-color: #000dff;
	color:#ffffff;
	font-size:13px;
}
.Mel{
	width: 26%;
	vertical-align: middle;
	background-color: #000dff;
	color:#ffffff;
	font-size:13px;
}
.Mpn{
	width: 24%;
	vertical-align: middle;
	background-color: #000dff;
	color:#ffffff;
	font-size:13px;
}
.Mld{
	width: 14%;
	vertical-align: middle;
	background-color: #000dff;
	color:#000dff;
	font-size:13px;
	
}
.admBtnn{
	
	vertical-align: middle;
	background-color: #000dff;
	
}
.pN{
	border: 1px solid blue;
	background-color:white;

}
.pI{
  border: 1px solid blue;
	backgrㅑound-color:white;

}
.pNm{
  border: 1px solid blue;
	background-color:white;

}
.pEm{
  border: 1px solid blue;
	background-color:white;

}
.pPn{
  border: 1px solid blue;
	background-color:white;

}
.adminMemberDetail{
	vertical-align: middle;
	
}
.IgRsn{
	background-color:skyblue;
}
