@charset "EUC-KR";
/* 목차 */
.qUCQS{
    width: 100%;
    margin: 50px auto 150px;
    border-top: 1px solid rgb(34, 34, 34);
    border-bottom: 1px solid rgb(204, 204, 204);
}
.pbYHJ {
    height: 59px;
    line-height: 58px;
    border-bottom: 1px solid rgb(204, 204, 204);
}
.pbYHJ > p {
    float: left;
    color: rgb(34, 34, 34);
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}
.pbYHJ::after {
    display: block;
    content: "";
    clear: both;
}
.pbYHJ > p:first-child {
    width: 10%;
}
.pbYHJ > p:nth-child(2) {
    width: 30%;
}
.pbYHJ > p:nth-child(3) {
    width: 15%;
}
.pbYHJ > p:nth-child(4) {
    width: 15%;
}
.pbYHJ > p:nth-child(5) {
    width: 15%;
}
.pbYHJ > p:nth-child(6) {
    width: 15%;
}
.cbeboU {
    height: 200px;
    margin: 0px auto;
}
.cbeboU > p {
    color: rgb(34, 34, 34);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 200px;
}