@charset "EUC-KR";
.selectNoticeList {
    width: 1180px;
    margin: auto;
}
/* 상단 */
.kuldyr {
	line-height: 54px;
	color: rgb(34, 34, 34);
	font-size: 33px;
	text-align: center;
	font-weight: 400;
	margin: 70px auto 45px;
}
.jtRefx {
	width: 100%;
}
.jSSNqy {
	width: 100%;
	height: 57px;
	border-bottom: 1px solid rgba(232, 232, 232, 0.7);
}

.jSSNqy>li {
	float: left;
	width: 33%;
	height: 57px;
}
a {
    text-decoration: none;
}
.jSSNqy>li>a {
	display: block;
	width: 100%;
	height: 57px;
	color: rgb(136, 136, 136);
	font-size: 16px;
	line-height: 57px;
	text-align: center;
	cursor: pointer;
	border-bottom: 2px solid transparent;
}
.jSSNqy > li > a.active {
    color: rgb(34, 34, 34);
    font-weight: 500;
    border-bottom-color: rgb(72, 72, 72);
}

.jSSNqy::after {
	display: block;
	content: "";
	clear: both;
}

.jSSNqy>li>a:hover, .jSSNqy>li>a:active {
	color: rgb(34, 34, 34);
}
/* 버튼 */
.cxBJwZ {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}
.hRSpXj {
    width: 218px;
    height: 50px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    background-color: rgb(26, 90, 232);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}
/* 내용 */
.qUCQS {
    width: 100%;
    margin: 50px auto 150px;
    border-top: 1px solid rgb(34, 34, 34);
    border-bottom: 1px solid rgb(204, 204, 204);
}
.pbYHJ {
    height: 59px;
    line-height: 58px;
    border-bottom: 1px solid rgb(204, 204, 204);
}
.pbYHJ::after {
    display: block;
    content: "";
    clear: both;
}
.pbYHJ > p:first-child {
    width: 10%;
}
.pbYHJ > p:nth-child(2) {
    width: 10%;
}
.pbYHJ > p:nth-child(3) {
    width: 50%;
}
.pbYHJ > p:nth-child(4) {
    width: 10%;
}
.pbYHJ > p:nth-child(5) {
    width: 20%;
}
.pbYHJ > p {
    float: left;
    color: rgb(34, 34, 34);
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}
a > p {
	float: left;
	text-align:center;
}
a > p:first-child {
    width: 10%;
}
a > p:nth-child(2) {
    width: 10%;
}
a > p:nth-child(3) {
    width: 50%;
}
a > p:nth-child(4) {
    width: 10%;
}
a > p:nth-child(5) {
    width: 20%;
}
li > p {
	text-align: center;
}
.bryRNw {
    height: 59px;
    line-height: 58px;
}
.bryRNw + li {
    border-top: 1px solid rgb(238, 238, 238);
}
.bryRNw::after {
    display: block;
    content: "";
    clear: both;
}
