@charset "EUC-KR";

.ggiCSo {
	width: 1180px;
	margin: 0px auto;
}

.jtRefx {
	width: 100%;
}

.kuldyr {
	line-height: 54px;
	color: rgb(34, 34, 34);
	font-size: 33px;
	text-align: center;
	font-weight: 400;
	margin: 70px auto 45px;
}

.jSSNqy {
	width: 100%;
	height: 57px;
	border-bottom: 1px solid rgba(232, 232, 232, 0.7);
}

.jSSNqy>li {
	float: left;
	width: 50%;
	height: 57px;
}

.jSSNqy>li>a {
	display: block;
	width: 100%;
	height: 57px;
	color: rgb(136, 136, 136);
	font-size: 16px;
	line-height: 57px;
	text-align: center;
	cursor: pointer;
	border-bottom: 2px solid transparent;
}

.jSSNqy>li>a.active {
	color: rgb(34, 34, 34);
	font-weight: 500;
	border-bottom-color: rgb(72, 72, 72);
}

.jSSNqy::after {
	display: block;
	content: "";
	clear: both;
}

.jSSNqy>li>a:hover, .jSSNqy>li>a:active {
	color: rgb(34, 34, 34);
}

.WQwFT {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: rgb(255, 255, 255);
	padding: 21px 35px;
	border-radius: 4px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(226, 226, 226);
	border-image: initial;
}

.WQwFT>li {
	height: 24px;
	color: rgb(102, 102, 102);
	font-size: 15px;
	line-height: 24px;
	position: relative;
}

.WQwFT>li::before {
	content: "";
	width: 3px;
	height: 3px;
	background-color: rgb(34, 34, 34);
	position: absolute;
	top: 50%;
	left: -10px;
	transform: translateY(-50%);
	border-radius: 50%;
}

.cbeboU {
	height: 400px;
	margin: 0px auto;
}

.hNYyIN {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 31px;
	background-color: rgb(255, 255, 255);
	padding: 21px 35px;
	border-radius: 4px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(226, 226, 226);
	border-image: initial;
}

.hNYyIN>li {
	height: 24px;
	color: rgb(102, 102, 102);
	font-size: 15px;
	line-height: 24px;
	position: relative;
}

.hNYyIN>li::before {
	content: "";
	width: 3px;
	height: 3px;
	background-color: rgb(34, 34, 34);
	position: absolute;
	top: 50%;
	left: -10px;
	transform: translateY(-50%);
	border-radius: 50%;
}

.etFHhl {
	width: 100%;
	margin-bottom: 50px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 5px 0px;
	background-color: rgb(255, 255, 255);
	border-radius: 4px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(226, 226, 226);
	border-image: initial;
	overflow: hidden;
}

.etFHhl>h1 {
	height: 60px;
	color: rgb(34, 34, 34);
	font-size: 18px;
	line-height: 60px;
	text-align: center;
	position: relative;
	border-bottom: 1px solid rgb(204, 204, 204);
}

.etFHhl>table {
	width: 100%;
}

table {
	border-collapse: collapse;
}

.etFHhl>table tr {
	height: 70px;
}

.etFHhl>table th {
	color: rgb(34, 34, 34);
	font-size: 15px;
	font-weight: 500;
	background-color: rgb(249, 249, 249);
	vertical-align: middle;
}

.etFHhl>table td {
	vertical-align: middle;
}

.fNOtpc {
	padding: 12px 20px;
}

.fSFsCh {
	float: left;
	user-select: none;
	position: relative;
}

.fSFsCh>input[type="radio"] {
	width: 1px;
	height: 1px;
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 0px;
}

.fSFsCh>input[type="radio"]:checked+p {
	color: rgb(255, 255, 255);
	background-color: rgb(26, 90, 232);
	border-color: rgb(26, 90, 232);
}

.fSFsCh>p {
	min-width: 82px;
	height: 46px;
	color: rgb(102, 102, 102);
	font-size: 14px;
	line-height: 44px;
	text-align: center;
	background-color: rgb(255, 255, 255);
	padding: 0px 15px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(224, 224, 224);
	border-image: initial;
}

.fNOtpc::after {
	display: block;
	content: "";
	clear: both;
}

.etFHhl>table tr+tr {
	border-top: 1px solid rgb(238, 238, 238);
}

.bVNPCb+label {
	margin-left: 10px;
}

.etFHhl>h1>span {
	margin-right: 18px;
	color: rgb(136, 136, 136);
	font-size: 14px;
	font-weight: 400;
	position: absolute;
	top: 50%;
	right: 18px;
	transform: translateY(-50%);
}

.dZxpBV {
	padding: 20px;
}

.xMNKR {
	float: left;
	width: 530px;
	height: 260px;
	padding: 6px 0px 9px;
}

.dvECgk {
	height: 20px;
	line-height: 20px;
	user-select: none;
}

.dhdAXv {
	margin: 15px 0px 10px;
}

.dvECgk>span {
	color: rgb(136, 136, 136);
	bottom: 2px;
}

.dvECgk>a, .dvECgk>span {
	margin-left: 7px;
	font-size: 14px;
	position: relative;
}

.kADOdT {
	float: right;
	width: 440px;
	height: 255px;
	position: relative;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(221, 221, 221);
	border-image: initial;
}

.iqNWWF {
	float: left;
	width: 430px;
}

.kTQnUD {
	height: 46px;
	color: rgb(68, 68, 68);
	font-size: 15px;
	background-color: rgb(255, 255, 255);
	box-sizing: border-box;
	-webkit-appearance: none;
	padding: 0px 15px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(208, 210, 214);
	border-image: initial;
	border-radius: 0px;
	outline: none;
}

.hdoEbx {
	width: 90px;
	height: 46px;
	margin-left: 10px;
	color: rgb(255, 255, 255);
	font-size: 14px;
	font-weight: 500;
	background-color: rgb(35, 45, 74);
	user-select: none;
	border-width: 0px;
	border-style: initial;
	border-color: initial;
	border-image: initial;
	border-radius: 3px;
}

.dhdAXv::after {
	display: block;
	content: "";
	clear: both;
}

.fUXvpI {
	display: table-cell;
	width: 530px;
	height: 100px;
	background-color: rgb(255, 255, 255);
	vertical-align: middle;
	padding: 20px 15px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(208, 210, 214);
	border-image: initial;
}

.fUXvpI>p {
	color: rgb(136, 136, 136);
	font-size: 15px;
	line-height: 25px;
}

.fUXvpI>p>span {
	display: inline-block;
	width: 60px;
	height: 25px;
	line-height: 25px;
}

.kXKUhT {
	margin-top: 10px;
	margin-bottom: 10px;
}

.gnEBbX {
	float: left;
	width: 100%;
	position: relative;
}

.bVCGUR {
	width: 100%;
}

.dhdAXv::after {
	display: block;
	content: "";
	clear: both;
}

.gvJkZp {
	float: left;
	width: 100px;
	height: 40px;
	color: rgb(68, 68, 68);
	font-size: 14px;
	background-color: rgb(255, 255, 255);
	border-width: 1px;
	border-style: solid;
	border-color: rgb(68, 68, 68);
	border-image: initial;
	border-radius: 3px;
}

.iFmBhb::after {
	display: block;
	content: "";
	clear: both;
}

.iFmBhb {
	position: relative;
	padding: 12px 20px;
}

.bMtYCv {
	height: 46px;
	padding-left: 60px;
	position: relative;
}

.tmpFp {
	float: left;
	width: 50px;
	height: 26px;
	line-height: 26px;
	color: rgb(255, 255, 255);
	font-size: 13px;
	text-align: center;
	background-color: rgb(97, 182, 229);
	position: absolute;
	top: 50%;
	left: 0px;
	transform: translateY(-50%);
	border-radius: 3px;
}

.fqDzuM {
	float: left;
	width: 140px;
}

.ktwJnl {
	float: left;
	width: 20px;
	height: 46px;
	color: rgb(34, 34, 34);
	font-size: 16px;
	text-align: center;
	line-height: 46px;
}

.fIWZWk {
	float: left;
	height: 46px;
	margin-left: 8px;
	color: rgb(34, 34, 34);
	font-size: 15px;
	line-height: 46px;
}

.fIWZWk>span {
	margin-left: 10px;
	color: rgb(136, 136, 136);
	font-size: 14px;
}

.fqDzuM {
	float: left;
	width: 140px;
}

input[type="date"]::-webkit-outer-spin-button, input[type="date"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

.ggZjqG {
	position: relative;
	padding: 12px 20px;
}

.hNdXGi {
	float: left;
	height: 46px;
	margin-right: 9px;
	color: rgb(34, 34, 34);
	font-size: 15px;
	line-height: 46px;
}

.gsCYXz {
	float: left;
	width: 110px;
}

.cmXpqK {
	float: left;
	width: 30px;
	color: rgb(34, 34, 34);
	font-size: 15px;
	line-height: 46px;
	text-align: center;
}

.freEbZ {
	float: left;
	width: 168px;
}

.iDUqOA {
	float: left;
	width: 180px;
}

.hRFrgm {
	height: 46px;
	color: rgb(68, 68, 68);
	font-size: 15px;
	box-sizing: border-box;
	-webkit-appearance: none;
	padding: 0px 15px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(208, 210, 214);
	border-image: initial;
	border-radius: 0px;
	background: url(/static/media/arrow.f3c02f94.svg) right 15px center/10px
		no-repeat rgb(255, 255, 255);
	outline: none;
}

.cCUCai {
	position: relative;
	padding: 12px 20px;
}

.gBFyOc+label {
	margin-left: 10px;
}

.kTQnUD:disabled, .kTQnUD:read-only {
	color: rgb(136, 136, 136);
	background-color: rgb(250, 250, 250);
}

.esuiyZ {
	float: left;
	width: 110px;
	margin-left: 15px;
}

.iOAqhO {
	float: left;
	margin-left: 7px;
	color: rgb(34, 34, 34);
	font-size: 15px;
	line-height: 46px;
}

.cCUCai::after {
	display: block;
	content: "";
	clear: both;
}

.cdRbFB {
	float: left;
	margin-right: 20px;
}

.cdRbFB>p {
	color: rgb(34, 34, 34);
	font-size: 15px;
	text-align: center;
	line-height: 22px;
}

.cdRbFB>p+p {
	font-size: 14px;
}

.hrokF {
	margin: 5px 10px 5px 0px;
}

.cdcjQK {
	float: left;
	user-select: none;
	position: relative;
}

.cdcjQK>input[type="checkbox"] {
	width: 1px;
	height: 1px;
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 0px;
}

.hrokF>p {
	min-width: 70px;
	height: 36px;
	line-height: 34px;
	padding: 0px 15px;
}

.cdcjQK>p {
	color: rgb(102, 102, 102);
	font-size: 14px;
	text-align: center;
	background-color: rgb(255, 255, 255);
	padding: 0px 15px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(224, 224, 224);
	border-image: initial;
}

.dROiWG {
	display: inline-block;
	height: 18px;
	margin-left: 2px;
	position: relative;
	top: 3px;
}

.fyqlMy+label {
	margin-left: 10px;
}

.cdcjQK>p:hover {
	background-color: rgb(245, 245, 245);
	border-color: rgb(245, 245, 245);
}

.hrokF>input[type="checkbox"]:checked+p {
	color: rgb(255, 255, 255);
	background-color: rgb(82, 177, 205);
	border-color: rgb(82, 177, 205);
}

.iXeisV {
	position: relative;
	padding: 12px 20px;
}

.cNKZeV {
	width: 100%;
}

.iXeisV::after {
	display: block;
	content: "";
	clear: both;
}

.iePFTd {
	width: 100%;
	height: 230px;
}

.hunnDM {
	color: rgb(68, 68, 68);
	font-size: 15px;
	background-color: rgb(255, 255, 255);
	box-sizing: border-box;
	-webkit-appearance: none;
	resize: none;
	padding: 12px 15px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(208, 210, 214);
	border-image: initial;
	border-radius: 0px;
	outline: none;
}

.fAiWMO {
	width: 100%;
	height: 80px;
}

.Xyvt {
	width: 100%;
	padding: 20px;
}

.hhdFgg {
	width: 100%;
	padding: 20px 30px;
	margin: 15px 0px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(224, 224, 224);
	border-image: initial;
}

.hhdFgg>p {
	height: 26px;
	color: rgb(102, 102, 102);
	font-size: 15px;
	line-height: 26px;
}

.heKOml {
	width: 100%;
	min-height: 350px;
	background-color: rgb(244, 244, 244);
	padding: 9px;
}

.bhZAGT {
	margin-top: 23px;
	margin-bottom: 4px;
	padding-left: 25px;
	line-height: 20px;
	user-select: none;
	position: relative;
}

.bhZAGT>svg {
	position: absolute;
	top: 1px;
	left: 0px;
}

.bhZAGT::after {
	display: block;
	content: "";
	clear: both;
}

.jAfNtH {
	width: 100%;
	height: 100%;
}

.kkaIZb {
	height: 40px;
	color: rgb(255, 255, 255);
	font-size: 14px;
	font-weight: 500;
	background-color: rgb(35, 45, 74);
	padding: 0px 20px;
	border-width: 0px;
	border-style: initial;
	border-color: initial;
	border-image: initial;
	border-radius: 3px;
}

.gpqhxG {
	padding-top: 75px;
	text-align: center;
}

.bhZAGT>a {
	float: left;
	margin-left: 5px;
	color: rgb(0, 108, 255);
	font-size: 14px;
	font-weight: 500;
	text-decoration: underline;
}

.bhZAGT>span {
	float: left;
	color: rgb(136, 136, 136);
	font-size: 14px;
	line-height: 20px;
	position: relative;
}

.gfvOAV {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 150px;
	text-align: center;
}

.kAqGVi {
	display: block;
	height: 22px;
	padding-left: 23px;
	position: relative;
	cursor: pointer;
}

.PcMeW {
	width: 1px;
	height: 1px;
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 0px;
}

.gfvOAV>label>.CheckBox {
	float: none;
	display: inline-block;
	position: relative;
}

.kAqGVi>.CheckBox {
	float: left;
	width: 22px;
	height: 22px;
	background-color: rgb(255, 255, 255);
	position: absolute;
	top: 0px;
	left: 0px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(221, 221, 221);
	border-image: initial;
	border-radius: 3px;
}

.PcMeW:checked+.CheckBox {
	background-color: rgb(0, 108, 255);
	border-width: 1px;
	border-style: solid;
	border-color: rgb(0, 108, 255);
	border-image: initial;
}

.eUWDCR {
	display: inline-block;
	height: 20px;
	margin-left: 7px;
	color: rgb(34, 34, 34);
	font-size: 15px;
	line-height: 20px;
	position: relative;
	bottom: 5px;
}

.PcMeW:checked+.CheckBox::after {
	content: "";
	display: block;
	width: 47%;
	height: 27%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
	transform-origin: 30% 35%;
	border-left: 2px solid rgb(255, 255, 255);
	border-bottom: 2px solid rgb(255, 255, 255);
}

.kcMULl {
	width: 160px;
	height: 50px;
	margin-top: 30px;
	color: rgb(34, 34, 34);
	font-size: 15px;
	background-color: rgb(255, 255, 255);
	border-width: 1px;
	border-style: solid;
	border-color: rgb(204, 204, 204);
	border-image: initial;
}

.iEZQG {
	width: 160px;
	height: 50px;
	margin-top: 30px;
	margin-left: 12px;
	color: rgb(255, 255, 255);
	font-size: 15px;
	background-color: rgb(26, 90, 232);
	border-width: 0px;
	border-style: initial;
	border-color: initial;
	border-image: initial;
}

.jkdKlr {
	width: 100%;
	min-height: 327px;
	padding-bottom: 167px;
}

.kcaUIg {
	display: table;
	width: 100%;
	height: 160px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 5px 0px;
	background-color: rgb(255, 255, 255);
	border-width: 1px;
	border-style: solid;
	border-color: rgb(226, 226, 226);
	border-image: initial;
	border-radius: 4px;
}

.dUvncE {
	display: table-cell;
	width: 185px;
	height: 100%;
	vertical-align: middle;
	padding: 0px 30px;
}

.iTcrkc {
	color: rgb(34, 34, 34);
	font-size: 15px;
	text-align: center;
	line-height: 22px;
}

.eRbhvo {
	padding-top: 17px;
	color: rgb(21, 100, 249);
	font-size: 15px;
	line-height: 22px;
	text-align: center;
}

.kkaIZb2 {
	width: 100%;
	font-size: 14px;
	font-weight: 500;
	padding: 0px 20px;
	border-width: 0px;
	border-style: initial;
	border-color: initial;
	border-image: initial;
	border-radius: 3px;
	border-bottom: 1px solid rgba(136, 136, 136, 0.3);
	padding-bottom: 17px;
}

.jsEbdN {
	display: table-cell;
	width: 420px;
	height: 100%;
	padding-left: 215px;
	vertical-align: top;
	position: relative;
	border-left: 1px solid rgb(226, 226, 226);
	border-right: 1px solid rgb(226, 226, 226);
}

.lloFGK {
	width: 175px;
	height: 115px;
	background-color: rgb(239, 240, 242);
	position: absolute;
	top: 22px;
	bottom: 22px;
	left: 20px;
	border-radius: 2px;
	overflow: hidden;
}

.jsEbdN>h1 {
	margin-top: 29px;
	margin-bottom: 7px;
	color: rgb(34, 34, 34);
	font-size: 18px;
	line-height: 25px;
	font-weight: 700;
}

.jsEbdN>h1>span+span {
	margin-left: 3px;
}

.gQXat {
	display: table-cell;
	width: 280px;
	height: 158px;
	position: relative;
	padding: 22px 20px;
}

.kvgsgP {
	width: 240px;
	height: 114px;
	position: absolute;
	top: 22px;
	right: 20px;
	bottom: 22px;
	left: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(208, 210, 214);
	border-image: initial;
}

.kcaUIg>div+div {
	border-left: 1px solid rgb(226, 226, 226);
}

.idxnWu {
	display: table-cell;
	width: 292px;
	height: 158px;
	vertical-align: middle;
	position: relative;
	padding: 0px 22px;
}

.bSemOn {
	height: 20px;
	margin-bottom: 17px;
}

.bSemOn>p {
	float: left;
	height: 15px;
	color: rgb(102, 102, 102);
	font-size: 13px;
	line-height: 15px;
}

.bSemOn>p+p {
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid rgb(221, 221, 221);
}

.bSemOn>p>span {
	color: rgb(21, 100, 249);
}

.bSemOn::after {
	display: block;
	content: "";
	clear: both;
}

.fLTNNO {
	width: 100%;
	height: 48px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(204, 204, 204);
	border-image: initial;
    display: flex;
}

.hxvBac {
	width: 78px;
}

.llAgXp {
	height: 100%;
	color: rgb(34, 34, 34);
	font-size: 14px;
	background-color: transparent;
	border-width: 0px;
	border-style: initial;
	border-color: initial;
	border-image: initial;
}

.llAgXp+button {
	border-left: 1px solid rgb(204, 204, 204);
}

.dPcOsn {
	width: 78px;
}

.bDSVrJ {
	width: calc(100% - 156px);
}

.eMNveq {
	width: 48px;
}

.ivmhMO {
	width: 48px;
}

.ANDVz {
	width: 74px;
}

.HCCsy {
	width: 75px;
}

.llAgXp:hover {
	background-color: rgb(241, 241, 241);
}

.kcaUIg+div {
	margin-top: 20px;
}
.cbeboU > p {
    color: rgb(34, 34, 34);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 400px;
}