@charset "EUC-KR";
.roommateList{
	    width: 1300px;
	     margin:50px auto 100px;
	     
    /* margin: 0px auto; */
}

.cAeKOJ {
    width: 10px;
    padding-bottom: 20px;
    margin: 10px auto;
}
.bryRNw {
    display:inline;
    height: 59px;
    line-height: 58px;
   
}
.bryRN {
	display:inline;
    cursor: pointer;
}
ul, li {
    list-style: none;
}
.qUCQS {
    width: 1100px;
    text-align:center;
    margin: 50px auto 100px;
   border-top: 3px solid rgb(25, 77, 241);
    border-bottom: 3px solid rgb(25, 77, 241);
    background-color:rgb(25, 77, 241);
    height:120px;
      border-radius: 10px 10px 10px 10px;
   
}

.pbYHJ {
    height: 59px;
    line-height: 58px;
    border-bottom: 1px solid rgb(204, 204, 204);

}

 p{
	width:5%;
	padding:10px;
	border:3px;
	display:inline;
}   
button{
width:100px;
height:50%;
border:0px;
background:	#D5D5D5;
outline:none;
color:#ffffff;
}

#mateList ul li{
	float:left;
	height:120%;
	line-height:50px;
	text-align:center;  
    margin: 0;
    border-top: 1px solid #8C8C8C;

/*    border-bottom: 1px solid rgb(204, 204, 204);  */
}
#mate ul li{
   float:left;
	height:120%;
	line-height:50px;
	text-align:center;
	margin:0 auto; 
    margin:  0;
    border-top: 1px solid #8C8C8C;
 
/*   border-bottom: 1px solid rgb(204, 204, 204);  */
	
}

#mate ul li a{
	display:block;
}
/*룸메이트 상세보기  */
.alkdf{
	height: 40px;
    line-height: 40px;
     border-bottom: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
} 

