@charset "UTF-8";
.ePlFZY {
    width: 100%;
    min-width: 1366px;
    height: 100%;
    overflow: hidden;
}
.dWEBFj {
    width: 100%;
    height: 66px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 70px;
    z-index: 10;
}
.hJtKYy {
    width: 100%;
    min-width: 1366px;
    height: 136px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid rgb(197, 197, 197);
}
.byjidO {
    float: left;
    width: 249px;
    height: 100%;
    position: relative;
    border-right: 1px solid rgb(232, 232, 232);
}
.keOJyH {
    width: 100%;
    height: 100%;
    color: rgb(34, 34, 34);
    font-size: 16px;
    line-height: 66px;
    background-color: rgb(255, 255, 255);
    padding: 0px 50px 0px 30px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}
.byjidO > svg {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.fvkqQK {
    position: absolute;
    top: 50%;
    left: 250px;
    transform: translateY(-50%);
}
.hWgOZv {
    float: left;
    height: 36px;
    margin-left: 10px;
    position: relative;
}
@media only screen and (min-width: 1600px).fJNXpX {
    max-width: 100%;
}
@media only screen and (min-width: 1550px).fJNXpX {
    max-width: 180px;
}
@media only screen and (min-width: 1500px).fJNXpX {
    max-width: 160px;
}
.fJNXpX {
    max-width: 150px;
    height: 100%;
    font-size: 14px;
    color: rgb(34, 34, 34);
    font-weight: 500;
    line-height: 34px;
    background-color: rgb(255, 255, 255);
    user-select: none;
    position: relative;
    padding: 0px 30px 0px 12px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(224, 224, 224);
    border-image: initial;
    border-radius: 3px;
}
.fJNXpX > svg {
    position: absolute;
    top: 50%;
    right: 11px;
    stroke: rgb(34, 34, 34);
    transform: translateY(-50%) rotate(0deg);
}
.fJNXpX > span {
    display: block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
@media only screen and (min-width: 1600px).fUMVvC {
    max-width: 100%;
}
@media only screen and (min-width: 1550px).fUMVvC {
    max-width: 180px;
}
@media only screen and (min-width: 1500px).fUMVvC {
    max-width: 160px;
}
.fUMVvC {
    max-width: 150px;
    height: 100%;
    font-size: 14px;
    color: rgb(102, 102, 102);
    font-weight: 400;
    line-height: 34px;
    background-color: rgb(255, 255, 255);
    user-select: none;
    position: relative;
    padding: 0px 30px 0px 12px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(224, 224, 224);
    border-image: initial;
    border-radius: 3px;
}
.bAZEbe {
    height: 100%;
    font-size: 14px;
    color: rgb(102, 102, 102);
    font-weight: 400;
    line-height: 34px;
    background-color: rgb(255, 255, 255);
    user-select: none;
    position: relative;
    padding: 0px 30px 0px 12px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(224, 224, 224);
    border-image: initial;
    border-radius: 3px;
}
.dgiYtt {
    float: left;
    height: 36px;
    margin-left: 10px;
}
.gftUiJ {
    width: 100%;
    min-width: 1366px;
    position: absolute;
    top: 136px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
@media only screen and (min-width: 1700px).bcjswF {
    width: 1240px;
}
.bcjswF {
    width: 980px;
    box-shadow: rgba(0, 0, 0, 0.18) 1px 0px 1px 0px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 3;
}
.eXwtu {
    width: 100%;
    height: 100%;
    position: relative;
}
.jLBlsX {
    height: 73px;
    margin: 0px 30px;
    padding: 33px 0px 20px;
    border-bottom: 1px solid rgb(238, 238, 238);
}
.hXdylP {
    display: inline-block;
    height: 20px;
    color: rgb(34, 34, 34);
    font-size: 22px;
    font-weight: 500;
    line-height: 20px;
    cursor: default;
}
.cDzGDZ {
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 73px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 0px 30px 0px 15px;
}
@media only screen and (min-width: 1600px).cRtqxV {
    max-width: 100%;
}
@media only screen and (min-width: 1550px).cRtqxV {
    max-width: 180px;
}
@media only screen and (min-width: 1500px).cRtqxV {
    max-width: 160px;
}
.cRtqxV {
    max-width: 150px;
    height: 100%;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    line-height: 34px;
    background-color: rgb(0, 108, 255);
    user-select: none;
    position: relative;
    padding: 0px 30px 0px 12px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 108, 255);
    border-image: initial;
    border-radius: 3px;
}
.cRtqxV > span {
    display: block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.cRtqxV > svg {
    position: absolute;
    top: 50%;
    right: 11px;
    stroke: rgb(255, 255, 255);
    transform: translateY(-50%) rotate(180deg);
}
.fhfjff {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 18px -10px;
    position: absolute;
    top: 44px;
    z-index: 101;
    user-select: none;
    padding: 27px 30px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(187, 187, 187);
    border-image: initial;
    border-radius: 3px;
    display:none;
}
.lmqlXb {
    margin-bottom: 27px;
    color: rgb(34, 34, 34);
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
}
.dUdesp {
    margin-top: 3px;
    color: rgb(170, 170, 170);
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
}
.lmqlXb::after {
    display: block;
    content: "";
    clear: both;
}
.hpBewf {
    width: 260px;
}
.hpBewf > li {
    min-height: 22px;
    white-space: nowrap;
}
.kAqGVi {
    display: block;
    height: 22px;
    padding-left: 23px;
    position: relative;
    cursor: pointer;
}
.PcMeW {
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
}
.PcMeW:checked + .CheckBox {
    background-color: rgb(0, 108, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 108, 255);
    border-image: initial;
}
.bKVwEL + li {
    margin-top: 12px;
}
.kAqGVi > .CheckBox {
    float: left;
    width: 22px;
    height: 22px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0px;
    left: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
    border-radius: 3px;
}
.PcMeW:checked + .CheckBox::after {
    content: "";
    display: block;
    width: 47%;
    height: 27%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    transform-origin: 30% 35%;
    border-left: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
}
.kMvalg {
    margin-left: 10px;
    color: rgb(68, 68, 68);
    font-size: 15px;
    line-height: 22px;
    position: relative;
    bottom: 1px;
}
.hpBewf + ul {
    margin-top: 18px;
    padding-top: 18px;
    padding-bottom: 50px;
    border-top: 1px solid rgb(238, 238, 238);
}
.eLjSYd {
    width: 190px;
    padding-bottom: 50px;
}
.eLjSYd > li {
    height: 22px;
    white-space: nowrap;
}
.nmQzi {
    margin-left: 10px;
    color: rgb(68, 68, 68);
    font-size: 15px;
    line-height: 22px;
    position: relative;
    bottom: 1px;
}
.eLjSYd > li + li {
    margin-top: 12px;
}
.hpBewf > li + li {
    margin-top: 12px;
}
.fBFAQm {
    width: 350px;
}
.eavwzc {
    float: right;
    color: rgb(0, 108, 255);
    font-size: 15px;
    font-weight: 300;
}
.jqwYlT {
    margin: 20px 0px;
    padding: 0px 11px;
}
.noUi-target {
    box-shadow: rgb(240, 240, 240) 0px 1px 1px inset, rgb(187, 187, 187) 0px 3px 6px -5px;
    background: rgb(243, 243, 243);
    border-radius: 4px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}
.noUi-horizontal {
    height: 6px;
}
.noUi-target {
    position: relative;
    direction: ltr;
}
.noUi-target, .noUi-target * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    touch-action: none;
    user-select: none;
    box-sizing: border-box;
}
.noUi-base, .noUi-connects {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.noUi-connects {
    border-radius: 3px;
}
.noUi-connects {
    z-index: 0;
    overflow: hidden;
}
.noUi-draggable {
    cursor: ew-resize;
}
.noUi-connect {
    background: rgb(67, 131, 255);
}
.noUi-connect, .noUi-origin {
    will-change: transform;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    transform-origin: 0px 0px;
}
html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
    right: -11px;
    left: auto;
}
.noUi-horizontal .noUi-handle {
    width: 22px;
    height: 22px;
    left: -11px;
    top: -8px;
}
.noUi-handle {
    cursor: default;
    box-shadow: rgb(255, 255, 255) 0px 0px 1px inset, rgb(235, 235, 235) 0px 1px 7px inset, rgb(187, 187, 187) 0px 3px 6px -3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(170, 170, 170);
    border-image: initial;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    outline: none;
}
.noUi-handle {
    position: absolute;
}
.ghXquW {
    padding-bottom: 47px;
    position: relative;
    top: -5px;
    border-bottom: 1px solid rgb(238, 238, 238);
    list-style: none;
}
.ghXquW > li:first-child {
    text-align: left;
    left: 8px;
}
.ghXquW > li {
    float: left;
    width: 33.3333%;
    padding-top: 10px;
    color: rgb(170, 170, 170);
    font-size: 12px;
    position: relative;
}
.ghXquW > li:nth-child(2) {
    text-align: center;
}
.ghXquW > li:last-child::before {
    right: 14px;
}
.ghXquW > li:last-child {
    text-align: right;
    right: -3px;
}
.ghXquW > li:nth-child(2)::before {
    left: 50%;
    transform: translate(-50%, 0px);
}
.ghXquW > li:first-child::before {
    left: 3px;
}
.ghXquW > li::before {
    content: "";
    display: block;
    width: 1px;
    height: 4px;
    background-color: rgb(170, 170, 170);
    position: absolute;
    top: 0px;
    margin: 0px auto 5px;
}
.fBFAQm + .fBFAQm {
    margin-top: 20px;
}
.kaLNCK {
    padding: 10px 0px 15px;
}
.dBaYDj {
    float: right;
    height: 34px;
    color: rgb(102, 102, 102);
    font-size: 13px;
    line-height: 32px;
    background-color: rgb(255, 255, 255);
    position: relative;
    padding: 0px 11px 0px 29px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(224, 224, 224);
    border-image: initial;
    border-radius: 3px;
}
.dBaYDj > svg {
    position: absolute;
    top: 50%;
    left: 7px;
    transform: translateY(-50%);
}
.kaLNCK::after {
    display: block;
    content: "";
    clear: both;
}
.hKGAZL {
    max-width: 150px;
    height: 100%;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    line-height: 34px;
    background-color: rgb(0, 108, 255);
    user-select: none;
    position: relative;
    padding: 0px 30px 0px 12px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 108, 255);
    border-image: initial;
    border-radius: 3px;
}
.hKGAZL > span {
    display: block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.hKGAZL > svg {
    position: absolute;
    top: 50%;
    right: 11px;
    stroke: rgb(255, 255, 255);
    transform: translateY(-50%) rotate(180deg);
}
.fUMVvC > svg {
    position: absolute;
    top: 50%;
    right: 11px;
    stroke: rgb(34, 34, 34);
    transform: translateY(-50%) rotate(0deg);
}
html:not([dir="rtl"]) .noUi-horizontal .noUi-origin {
    left: auto;
    right: 0px;
}
.noUi-horizontal .noUi-origin {
    height: 0px;
}
.bZsIeN {
    width: 240px;
    padding-bottom: 50px;
}
.bZsIeN > li {
    height: 22px;
    white-space: nowrap;
}
.kdfXro > svg {
    position: absolute;
    top: 50%;
    right: 11px;
    stroke: rgb(255, 255, 255);
    transform: translateY(-50%) rotate(180deg);
}
.dIVcAa {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 18px -10px;
    position: absolute;
    top: 44px;
    left: 60%;
    transform: translateX(-50%);
    z-index: 101;
    user-select: none;
    padding: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(187, 187, 187);
    border-image: initial;
    border-radius: 3px;
    display: none;
}
.cgRTwE {
    width: 600px;
}
table {
    border-collapse: collapse;
}
.cgRTwE > tbody > tr {
    vertical-align: top;
}
.cgRTwE > tbody > tr > td {
    min-width: 240px;
    padding-top: 27px;
    padding-left: 30px;
}
.jpAxXq {
    margin-bottom: 23px;
    color: rgb(34, 34, 34);
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    table-layout: fixed;
}
.jpAxXq > font {
    color: rgb(170, 170, 170);
    font-size: 13px;
}
.gpNskk {
    float: left;
    min-width: 70px;
}
.cHPNZJ {
    line-height: 22px;
}
.gpNskk + ul {
    margin-left: 8px;
}
.cmTDVA {
    margin-left: 10px;
    color: rgb(68, 68, 68);
    font-size: 15px;
    line-height: 22px;
    position: relative;
    bottom: 1px;
}
.cgRTwE > tbody > tr > td + td {
    border-left: 1px solid rgb(235, 235, 235);
}
.jaSpzl {
    line-height: 22px;
    opacity: 0.3;
}
.bXGJoU {
    display: block;
    height: 22px;
    padding-left: 23px;
    position: relative;
    cursor: default;
}
.cHPNZJ + li {
    margin-top: 12px;
}
.PcMeW:disabled + .CheckBox {
    background-color: rgb(240, 240, 240);
    opacity: 0.3;
    border-color: rgb(204, 204, 204);
}
.bXGJoU > .CheckBox {
    float: left;
    width: 22px;
    height: 22px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0px;
    left: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
    border-radius: 3px;
}
.bAZEbe > svg {
    position: absolute;
    top: 50%;
    right: 11px;
    stroke: rgb(34, 34, 34);
    transform: translateY(-50%) rotate(0deg);
}
.kdfXro {
    height: 100%;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    line-height: 34px;
    background-color: rgb(0, 108, 255);
    user-select: none;
    position: relative;
    padding: 0px 30px 0px 12px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 108, 255);
    border-image: initial;
    border-radius: 3px;
}
.jaSpzl + li {
    margin-top: 12px;
}
.bKVwEL {
    line-height: 22px;
}
.cgRTwE > tbody > tr + tr {
    border-top: 1px solid rgb(235, 235, 235);
}
.geOCej > li {
    float: left;
    height: 38px;
    margin-right: 8px;
    margin-bottom: 8px;
}
.jAoody > input[type="checkbox"] {
    display: none;
}
.jhkKdW {
    width: 116px;
    height: 38px;
    color: rgb(102, 102, 102);
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(217, 217, 217);
    border-image: initial;
    border-radius: 3px;
}
.geOCej::after {
    display: block;
    content: "";
    clear: both;
}
.bFZgGt {
    margin-top: 7px;
}
.bFZgGt::after {
    display: block;
    content: "";
    clear: both;
}
.bFZgGt > p {
    float: left;
    margin: 0px 0px 0px 5px;
}
.diBSwb {
    margin-top: 3px;
    color: rgb(170, 170, 170);
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
}
.jAoody > input[type="checkbox"]:checked + p {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 108, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 108, 255);
    border-image: initial;
}
.dzQBoq {
    width: calc(100% - 15px);
    margin-top: 40px;
    margin-left: 15px;
}
.fxRDHg {
    width: 100%;
    padding-top: 20px;
}
.hxpbDF {
    float: left;
    width: 25%;
    padding-left: 15px;
    margin-bottom: 50px;
}
.OUJOU {
    height: 280px;
    position: relative;
}
.hjVNgq {
    width: 32px;
    height: 30px;
    margin: 0px auto;
    background: url(/static/media/like.6879d861.svg) center center / cover;
}
.kpKjGs {
    display: block;
}
.jHIGoX {
    width: 100%;
    height: 145px;
    margin-bottom: 12px;
    background-color: rgb(239, 240, 242);
    position: relative;
    border-radius: 3px;
    overflow: hidden;
}
.jHIGoX > img {
    content: "";
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
}
.jHIGoX::after {
    content: "";
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}
.kCTBqT {
    font-size: 13px;
    font-weight: 400;
}
.jBkVAv {
    width: 100%;
    color: rgb(102, 102, 102);
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.glovZ {
    color: rgb(34, 34, 34);
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    margin: 3px 0px 6px;
}
.glovZ > span {
    vertical-align: middle;
}
.fxRDHg::after {
    display: block;
    content: "";
    clear: both;
}
.cHCsIX {
    width: 20px;
    height: 50px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.18) 2px 1px 2px -1px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 40%;
    right: -19px;
    z-index: 3;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}
.cHCsIX > svg {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%) rotate(90deg);
}
.gdoUVB {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 980px;
    z-index: 2;
    overflow: hidden;
}
.UmEWE {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.dQBfA {
    width: 100%;
    min-width: 1366px;
    height: 100%;
}
.kZTRnS {
    width: 100%;
}
.kBQneM {
    width: 1180px;
    position: relative;
    margin: 0px auto;
}
.ixyaqW {
    width: 100%;
    padding-top: 35px;
    margin-bottom: 35px;
}
.UuNuJ {
    float: left;
    height: 62px;
    padding-right: 25px;
    border-right: 1px solid rgb(235, 235, 235);
}
.hzbdBs {
    margin-bottom: 7px;
    color: rgb(102, 102, 102);
    font-size: 14px;
    line-height: 20px;
}
.dUILvV {
    line-height: 35px;
    vertical-align: bottom;
    position: relative;
}
.dUuerR {
    float: left;
    color: rgb(34, 34, 34);
    font-size: 30px;
    line-height: 35px;
}
.gYSPds {
    margin-left: 3px;
    color: rgb(102, 102, 102);
    font-size: 15px;
    line-height: 22px;
    position: relative;
    top: 5px;
}
.UuNuJ + li {
    margin-left: 25px;
}
.cqojtY {
    float: left;
    height: 62px;
    padding-right: 25px;
    border-right: 1px solid rgb(235, 235, 235);
}
.ktfeIl {
    width: 40px;
    height: 26px;
    margin-left: 8px;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 5px;
    padding: 0px 8px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(213, 213, 213);
    border-image: initial;
    border-radius: 3px;
}
.ktfeIl > svg {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
}
.ktfeIl > span {
    color: rgb(34, 34, 34);
    font-size: 12px;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
}
.cqojtY + li {
    margin-left: 25px;
}
.byeNFK {
    float: right;
    padding-top: 20px;
}
.hhDakc {
    margin-right: 12px;
    color: rgb(34, 34, 34);
    font-size: 14px;
    text-align: right;
}
.gTIMxh {
    text-align: right;
    font-size: 14px;
    color: rgb(136, 136, 136);
    margin-right: 12px;
}
.fEkbZe {
    float: left;
    width: 116px;
    height: 38px;
    color: rgb(34, 34, 34);
    font-size: 13px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
    border-radius: 19px;
}
.fEkbZe > svg {
    position: absolute;
    left: 18px;
    top: 10px;
}
.fEkbZe > span {
    position: absolute;
    left: 38px;
    top: 8px;
}
.byeNFK::after {
    display: block;
    content: "";
    clear: both;
}
.ixyaqW::after {
    display: block;
    content: "";
    clear: both;
}
.bbfToB {
    width: 100%;
    height: 22px;
    margin-bottom: 17px;
}
.bbfToB > p {
    float: left;
    height: 22px;
    color: rgb(34, 34, 34);
    font-size: 15px;
    line-height: 22px;
    position: relative;
    user-select: none;
}
.dojagi {
    padding-left: 26px;
    cursor: pointer;
}
.bbfToB > p > svg {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}
.fEBzAW {
    bottom: 1px;
    margin: 0px 10px;
}
.bbfToB > div {
    float: left;
    width: 19px;
}
.lhWOpc {
    max-width: 120px;
    height: 34px;
    color: rgb(68, 68, 68);
    font-size: 12px;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 50px;
    bottom: -5px;
    padding: 0px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
}
.lhWOpc > svg {
    stroke: rgb(34, 34, 34);
    position: relative;
    top: 1px;
}
.lhWOpc > span {
    margin-left: 6px;
    position: relative;
    bottom: 1px;
}
.bbfToB::after {
    display: block;
    content: "";
    clear: both;
}
.iuNQqL {
    width: 100%;
    margin-bottom: 30px;
    border-top: 2px solid rgb(34, 34, 34);
}
.iuNQqL > li {
    float: left;
    width: 25%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid rgb(235, 235, 235);
}
.gWdVQs::before {
    content: "·";
    float: left;
    color: rgb(34, 34, 34);
    margin-right: 7px;
}
.gPsGgb {
    float: left;
    width: 100px;
    color: rgb(136, 136, 136);
    font-size: 14px;
}
.gbAeEp {
    float: left;
    color: rgb(34, 34, 34);
    font-size: 14px;
}
.gWdVQs::after {
    display: block;
    content: "";
    clear: both;
}
.bHPFKV {
    width: 40px;
    height: 23px;
    margin-left: 8px;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 4px;
    padding: 0px 8px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(213, 213, 213);
    border-image: initial;
    border-radius: 3px;
}
.bHPFKV > svg {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
}
.iuNQqL::after {
    display: block;
    content: "";
    clear: both;
}
.fQSDcO {
    width: 1180px;
    height: 420px;
    margin-bottom: 49px;
    position: relative;
    cursor: pointer;
}
.URMBL {
    float: left;
    width: 620px;
    height: 420px;
    background-color: rgb(246, 247, 248);
    position: relative;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}
.fGrzEs {
    float: left;
    width: 280px;
    height: 210px;
    background-color: rgb(246, 247, 248);
    position: relative;
}
img{
	width:100%;
	height:100%;
}
.kVQrqD {
    width: 100%;
    min-height: 260px;
    padding-bottom: 130px;
    position: relative;
}
.eRkCVv {
    float: left;
    width: 520px;
    height: 130px;
    padding-right: 150px;
    color: rgb(34, 34, 34);
    font-size: 28px;
    font-weight: 300;
    line-height: 36px;
    white-space: pre-wrap;
}
.cDEjhR {
    float: left;
    width: calc(660px);
    padding-right: 20px;
    position: relative;
    overflow: hidden;
    transition: height 400ms ease 0s;
}
.cDEjhR > div {
    width: 100%;
    color: rgb(102, 102, 102);
    font-size: 16px;
    line-height: 26px;
    white-space: pre-wrap;
    overflow: hidden;
}
.jQYbpN {
    height: 24px;
    color: rgb(20, 118, 252);
    font-size: 15px;
    background-color: transparent;
    position: absolute;
    left: 520px;
    bottom: 76px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}
.jQYbpN > svg {
    margin-left: 8px;
    position: relative;
}
.kVQrqD::after {
    display: block;
    content: "";
    clear: both;
}
.kztjpN {
    display: block;
    width: 100%;
    height: 0px;
}
.eQtsIB {
    width: 100%;
    min-width: 1366px;
    max-height: 149px;
    position: relative;
    border-top: 1px solid rgb(221, 221, 221);
}
.iMVDBW {
    width: 1180px;
    height: 58px;
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 2;
    margin: 0px auto;
}
.iMVDBW > a {
    width: calc(33%);
}
.jClTEN {
    display: inline-block;
    height: 58px;
    color: rgb(136, 136, 136);
    font-size: 15px;
    text-align: center;
    line-height: 58px;
    cursor: pointer;
}
.jFMhNO {
    padding-top: 100px;
    padding-bottom: 120px;
    border-top: 1px solid rgb(221, 221, 221);
}
.GYLAC {
    color: rgb(34, 34, 34);
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    line-height: 41px;
}
.iSPaSs {
    width: 850px;
    margin: 30px auto 0px;
    border-top: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
}
.iSPaSs > thead > tr {
    border-bottom: 1px solid rgb(238, 238, 238);
}
.iSPaSs > thead > tr > th {
    height: 50px;
    color: rgb(34, 34, 34);
    font-size: 15px;
    font-weight: 500;
}
.iSPaSs > tbody > tr > td {
    padding-top: 20px;
    padding-bottom: 27px;
    vertical-align: top;
}
.iSPaSs > tbody > tr > td > p {
    color: rgb(68, 68, 68);
    font-size: 15px;
    text-align: center;
    line-height: 26px;
}
.boQZaR {
    width: 850px;
    height: 112px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 5px 0px;
    margin: 30px auto 0px;
    padding: 0px 55px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(20, 118, 252);
    border-image: initial;
    border-radius: 4px;
}
.boQZaR > p {
    width: 165px;
    font-size: 20px;
}
.boQZaR > p, .boQZaR > div {
    float: left;
    color: rgb(20, 118, 252);
    line-height: 110px;
}
.boQZaR > div {
    width: 573px;
    font-size: 30px;
    font-weight: 500;
}
.boQZaR > div > span {
    margin-left: 5px;
    color: rgb(68, 68, 68);
    font-size: 15px;
    font-weight: 400;
    position: relative;
    bottom: 4px;
}
.boQZaR::after {
    display: block;
    content: "";
    clear: both;
}
.dDctva {
    width: 1180px;
    margin-top: 32px;
    padding: 0px 104px;
    text-align: center;
}
.lnMkbZ {
    color: rgb(34, 34, 34);
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    line-height: 41px;
}
.gqtsIc:nth-child(1), .gqtsIc:nth-child(2), .gqtsIc:nth-child(3), .gqtsIc:nth-child(4), .gqtsIc:nth-child(5), .gqtsIc:nth-child(6) {
    margin-top: 0px;
}
.gqtsIc {
    float: left;
    width: 162px;
    height: 70px;
    margin-top: 40px;
}
.dDctva::after {
    display: block;
    content: "";
    clear: both;
}
.fIqmuM {
    color: rgb(34, 34, 34);
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    line-height: 41px;
    position: relative;
    z-index: 10;
}
.hwnvlX {
    color: rgb(102, 102, 102);
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    margin: 3px 0px 27px;
}
.jdAEqt {
    width: 850px;
    height: 400px;
    position: relative;
    margin: 29px auto 26px;
}
