@charset "EUC-KR";

.footer {
	position: absolute;
	bottom: 0px;
}

.fav {
	width: 36px;
	position: absolute;
	top: 3px;
	right: 7px;
	z-index: 1;
	cursor: pointer;
}

.deleteFav {
	width: 32px;
	height: 30px;
	margin: 0px auto;
	background: url(/nnb/media/like.svg) center center/cover;
	cursor: pointer;
}

.insertFav {
	width: 32px;
	height: 30px;
	margin: 0px auto;
	background: url(/nnb/media/unlike.svg) center center/cover;
	cursor: pointer;
}

* {
	font-family: "Spoqa Han Sans", Sans-serif;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

.blue>span {
	color: rgb(21, 100, 249);
}

.red>span {
	color: rgb(255, 128, 192);
}

.ipvawL {
	color: rgb(68, 68, 68);
	font-size: 46px;
	font-weight: 300;
	line-height: 58px;
	text-align: center;
	letter-spacing: -0.8px;
	position: relative;
	z-index: 20;
}

a {
	text-decoration: none !important;
}

.kMYYOo {
	width: 800px;
	height: 60px;
	background-color: rgb(255, 255, 255);
	position: relative;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(208, 210, 214);
	border-image: initial;
	margin: 0px auto;
}

.kZIxja {
	display: inline-block;
	width: 636px;
	height: 30px;
	color: rgb(34, 34, 34);
	font-size: 20px;
	border-top-style: initial;
	border-right-style: initial;
	border-bottom-style: initial;
	border-top-color: initial;
	border-right-color: initial;
	border-bottom-color: initial;
	margin: 14px 110px 14px 54px;
	padding: 0px 20px;
	border-width: 0px 0px 0px 1px;
	border-image: initial;
	border-left: 1px solid rgb(221, 221, 221);
	outline: none;
}

input, button {
	outline: none;
}

button {
	cursor: pointer;
	background-color: transparent;
	border-radius: 0px;
}

.kvrxoz {
	width: 130px;
	height: 48px;
	color: rgb(255, 255, 255);
	font-size: 16px;
	line-height: 48px;
	letter-spacing: -0.3px;
	background-color: rgb(19, 116, 248);
	position: absolute;
	top: 50%;
	right: 6px;
	transform: translateY(-50%);
	border-width: 0px;
	border-style: initial;
	border-color: initial;
	border-image: initial;
	border-radius: 2px;
	outline: none;
}

.fRnXmp {
	margin-top: 28px;
	position: relative;
	z-index: 20;
}

.bsRnpg {
	width: 100%;
	min-width: 1366px;
	padding-top: 115px;
	padding-bottom: 113px;
}

.kMYYOo>svg {
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
}

svg[Attributes Style] {
	width: 18;
	height: 18;
}

.fqUhil {
	display: table;
	width: 100%;
	height: 69px;
	border-right: 1px solid rgb(69, 69, 69);
	border-bottom: 1px solid rgb(69, 69, 69);
}

.bGLXyI {
	width: 100%;
	min-width: 1366px;
	height: 250px;
	background-color: rgb(55, 55, 55);
	position: relative;
	z-index: 1;
}

.cPXquZ {
	width: 1180px;
	height: 100%;
	margin: 0px auto;
}

.cYFCXq {
	display: table-cell;
	width: 825px;
	height: 100%;
	vertical-align: middle;
}

.fHTOVi {
	display: inline-block;
	color: rgb(170, 170, 170);
	font-size: 13px;
}

.fHTOVi+a::before {
	content: "";
	display: inline-block;
	width: 1px;
	height: 12px;
	margin-left: 15px;
	padding-left: 15px;
	position: relative;
	top: 1px;
	border-left: 1px solid rgb(102, 102, 102);
}

.bJoVKf {
	display: table-cell;
	width: 282px;
	height: 69px;
	vertical-align: middle;
	position: relative;
}

.bJoVKf>label {
	display: block;
	width: 100%;
	height: 100%;
}

.eGOkdr {
	float: left;
	height: 100%;
	padding-left: 20px;
	color: rgb(144, 144, 144);
	font-size: 13px;
	font-weight: 400;
	line-height: 69px;
	user-select: none;
	border-left: 1px solid rgb(69, 69, 69);
}

.cuuIWz {
	float: left;
	width: 185px;
	height: 100%;
	padding-left: 15px;
	color: rgb(238, 238, 238);
	font-size: 13px;
	background-color: rgb(55, 55, 55);
	border-width: 0px;
	border-style: initial;
	border-color: initial;
	border-image: initial;
}

.bJoVKf>label::after {
	display: block;
	content: "";
	clear: both;
}

.kWBByy {
	width: 50px;
	height: 100%;
	padding-right: 20px;
	background-color: rgb(55, 55, 55);
	position: absolute;
	top: 50%;
	right: 0px;
	transform: translateY(-50%);
	z-index: 1;
	border-width: 0px;
	border-style: initial;
	border-color: initial;
	border-image: initial;
}

.lldbbm {
	display: table-cell;
	width: 70px;
	height: 100%;
	cursor: pointer;
	border-left: 1px solid rgb(69, 69, 69);
}

.lldbbm::after {
	content: "TOP";
	display: block;
	margin-top: 7px;
	color: rgb(210, 214, 218);
	font-size: 11px;
	font-weight: 300;
	text-align: center;
}

.lldbbm::before {
	content: "";
	display: block;
	width: 0px;
	height: 0px;
	margin: 14px auto 0px;
	border-top: 7px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 7px solid rgb(210, 214, 218);
	border-left: 5px solid transparent;
}

.hyhBst {
	width: 100%;
	height: 180px;
	padding-top: 29px;
	position: relative;
}

.kbCJPh {
	margin-bottom: 12px;
	font-weight: 700;
}

.hnxVvN {
	color: rgb(144, 144, 144);
	font-size: 12px;
	line-height: 18px;
}

.jGqQVV {
	display: inline-block;
	margin-top: 16px;
	color: rgb(133, 133, 133);
	font-size: 12px;
}

.img{
	position: relative;
    cursor: pointer;
    padding: 5px 0px;
    margin: 0px auto;
    float: left;
    width: 100px;
    height: 100%;
}
